<header>
  <div class="container">
    <h1 class="site-logo"><a href="index.html">Huma Sheikh</a></h1>
    <nav id="site-nav">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="presentations.html">Conference Presentation</a></li>
        <li><a href="work-published.html">Work Published</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <div class="mobile-menu">&#9776;</div>
  </div>
</header>
